*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header, footer{
    background-color: #5b1269;
    color:#fff;
    padding: 10px;
    font-family: 'Autour One', cursive;
}
.header{
    margin-bottom: 40px;
}
.img-item{
    width:100%;
    border-radius: 20px;
}
#toResize{
    margin-top: 40px;
    margin-bottom: 20px;
}
#remodule{
    margin-bottom: 20px;
}
.footer p{
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: bolder;
}
@media screen and (max-width:640px){
    #toResize, col-12{
        text-align: center;
    }
    .card{
        margin-bottom: 20px;
    }
}
@media (min-width: 1200px) {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .col-12.col-sm-6.h-100 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
/* @media screen and (min-width:768px) and (max-width:1024px){
    .col-12 .col-sm-6{
        max-width:50%;
    }
} */